<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="com.huron.demo.config"/>


<!--        <bean id="personBean" class="com.huron.demo.entity.Person">-->
<!--            <property name="name" value="huron"/>-->
<!--            <property name="age" value="24"/>-->
<!--        </bean>-->

<!--        <bean id="dogBean" class="com.huron.demo.entity.Dog">-->
<!--            <property name="name" value="feifei"/>-->
<!--            <property name="person" ref="personBean"/>-->
<!--        </bean>-->

<!--        <bean id="hello1" class="com.huron.demo.service.HelloImpl1"/>-->
<!--        <bean id="hello2" class="com.huron.demo.service.HelloImpl2"/>-->
</beans>
